

<div class="container center">
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<small class="pull-right">This lesson has <%= pluralize( @comments.count ,"Comments" )%></small>
			</div>

				<div class="comments-list">
					<% @comments.each do |comment|%>
					<p><b><%= comment.user.username%></b></p>
					<p><%= auto_link(comment.content, :html => { :target => '_blank' })%></p>

					<% if current_user == comment.user %>
						<%= link_to "Delete ", [comment.item, comment], method: :delete,data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-primary"%>
						<%= link_to 'Edit', edit_item_comment_path(comment.item, comment),class: "btn btn-sm btn-primary" %>
					<%end%>


					<%end%>


					<%= render 'comments/form'%>
				</div>

			</div>
	</div>
</div>