

<div class="container center">
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<small class="pull-right">This lesson has <%= pluralize( @comments.count ,"Comments" )%></small>
			</div>

				<div class="comments-list">
					<% @comments.each do |comment|%>
					<p><b><%= comment.user.username%></b></p>
					<p><%= comment.content%></p>

					<% if current_user == comment.user %>
						<%= link_to "Delete ", [comment.item, comment], method: :delete,class: "btn btn-secondary btn-sm active"%>
						<%= link_to 'Edit', edit_item_comment_path(comment.item, comment),class: "btn btn-secondary btn-sm active" %>
					<%end%>


					<%end%>


					<%= render 'comments/form'%>
				</div>

			</div>
	</div>
</div>