
<div class="container center">
  <h1 align="center">Lessons</h1>
  


    
      <% @items.each do |item| %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">

                  <%= link_to item.title, item %>
                </div>
            

                <div class="article-body">

                  <%= truncate(item.text, length: 100) %><br>
                  <%= item.url %><br>
                  <%= item.votes_for.up.size %>

                  <div class="article-meta-details">

                    <small> Created by: <%= item.user.username if item.user %>, created:  
                            <%= time_ago_in_words(item.created_at)%> ago, updated: <%= time_ago_in_words(item.updated_at)%>

                                   
                   </small>
                  
                   </div>
                 </div>

              
              
             

              
              


             <div class="article-actions">   


              
                <% if user_signed_in?%>
                  <% if current_user.voted_up_on? item%>
                    <%= link_to 'Unvote', unvote_item_path(item),method: :delete,class: "btn btn-sm btn-primary"%>
                      <%else%>

                    <%= link_to 'Vote', vote_item_path(item), method: :post ,class: "btn btn-sm btn-primary"%>

                  <%end%>
                <%end%>
                

                

                <%if item.user == current_user %>
                  <%= link_to 'Edit', edit_item_path(item),class: "btn btn-sm btn-primary" %>
                  <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-danger" %>
                <%end%>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
   

    
  

 

  
 </div> 
  <br>
  <br>
 <h3 align="center"><%= link_to 'New Lesson', new_item_path,class: "btn btn-md btn-primary" %></h3>
