
<div class="container">
	<p>
	  <strong>User:</strong>
	  <%= @item.user.username %>
	</p>

	<h2 align="center"> Title: <%= @item.title%></h2>

	<div class="well col-xs-8 col-xs-offset-2">	

		<div class="article-actions">

		<%if @item.text?%>

			<p>
			 <h4 class="center description"> <strong>Text:</strong></h4>
			  <%=simple_format (@item.text) %>
			</p>

		<%end%>

		<p>
		  <p class="center description"><strong>Link:</strong></p>
		  <%= auto_link(@item.url, :html => { :target => '_blank' }) %>
		</p>

	

	<%= render 'comments/comment'%>
	<br>
	<br>

	<% if @item.user == current_user%>

		<p align="center"><%= link_to 'Edit', edit_item_path(@item), class: "btn btn-sm btn-primary"  %> |
		
	<%end%>
	<%= link_to 'Back', items_path,class: "btn btn-sm btn-primary" %></p>
</div>