<!DOCTYPE html>
<html>
  <head>
    <title>Group</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag'application', 'data-turbolinks-track': 'reload' %>

<style>
 a:link, a {text-decoration: none;} 
</style>

  </head>


  <body>


    <!-- Navigation Bar -->


    

  <nav class="navbar navbar-dark bg-inverse" >
       <div class="container-fluid">
        <div class="navbar-header" >
         <%= link_to "Musketeer", root_path,class: "navbar-brand",id: "logo"  %>
         </div>


         <ul class="nav navbar-nav" id="myTopnav" >
           
           <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
           
           <li class="nav-item"><%= link_to "Tweets", tweets_path, class: "nav-link" %></li>

           <li class="nav-item"><%= link_to "Lessons", items_path, class: "nav-link" %></li>

           <li class="nav-item"><%= link_to "Feed", feed_path, class: "nav-link" %></li>
            



           <%if user_signed_in? %>

               <li class="nav-item pull-md-right">
                 <button type="button" class="btn btn-default navbar-btn">
                  <%= link_to "Log out", signout_path,method: :delete, class: "nav-link" %>
                </button>
                 
               </li>


           <%else%>

           <li class="nav-item pull-md-right "><button type="button" class="btn btn-default btn-sm navbar-btn"><%= link_to "Sign in", signin_path%></button></li>

           <li class="nav-item pull-md-right"><button type="button" class="btn btn-primary btn-sm navbar-btn"><%= link_to "Sign up", signup_path,class: "nav-link"%></button></li>

             
             
           <%end%>
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
           </li>
          

         </ul>
       </div>
     </nav>



    <!-- Flasf Messages  -->
    <% flash.each do |name, message|%>
      <%= content_tag(:div,message,class:"alert alert-info #{name}")%>
     <%end%>

    <!-- Page Content -->
    
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2016 Draganoiu Andrei</p>
        </center>
      </div>
    </footer>

  </body>
</html>
